<div class="row">
<%= form_for @current_user, url: {action: "edit"}, html: {class: "nifty_form"} do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> User</legend>

     <% if logged_in? %>

    <%= f.text_field :username  %>
     <%= check_box_tag(:active)  %>

     <% end %>


      <div class="form-actions">
        <%= f.submit nil, :class => 'button radius' %>
        <%= link_to 'Cancel', @user, :class => 'button alert radius' %>
      </div>
      
  </fieldset>
<% end %>
</div>