<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h2 id="log-in-title">Chat Anonymously</h2>
    <h3> <i> Get a random username and skips Authentication by Google. Your name is not stored or visible. </i> </h3>
    <p> Your Andrew ID confirms that you're a CMU student. No one you chat with will be able to view your Andrew ID during the chat unless you choose to reveal it. </p>

    <div class="auth-form well">
    <%= form_for(User.new, url: signup_path) do |f| %>

      <%=f.label :name, "Enter your Andrew ID"%>
      <div class="input-group">
        <span class="input-group-addon">@</span>
          <%= f.text_field :name, class: "form-control"%>
      </div>

      <div class="actions">
        <%= f.submit "sign up", class: "btn btn-primary" %>
      </div>

    <% end %>
    </div>

      <%= render partial: 'layouts/flash_errors'%>
  </div>
</div>

  